body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #333;
    color: #333;
}

.calculator {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    background-color: #555;
}

#display {
    grid-column: span 4;
    width: 95%;
    margin-bottom: 10px;
    padding: 5px;
    background-color: #777;
    color: black;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #111;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.clear-button {
    grid-column: span 4;
    background-color: #ff3333; /* 赤色のボタンに変更 */
    color: white;
}
